body {
  max-width: 32em;
}

#steam-folder-error {
  color: darkred;
}

#dota-server-container {
  margin: 2em 0;
}

#steam-configuration,
#twitch-connection-container {
  margin: 1em 0;
}

#twitch-connection-description {
  font-size: 14px;
  margin: 0.5em 0;
}

#steam-path {
  display: inline-block;
}

#steam-path-label,
#twitch-broadcaster-id,
#twitch-broadcaster-label {
  display: block;
}

#twitch-broadcaster-id {
  width: 20em;
  height: 8em;
  resize: none;
}

#twitch-broadcaster-id,
#steam-path {
  margin: 0.5em 0;
  border-radius: 4px;
  border: 2px solid grey;
  padding: 0.35em 0.5em;
}

#server-running-msg {
  display: inline-block;
  margin: 0.5em 0;
  border-radius: 4px;
  border: 2px solid green;
  background-color: lightgreen;
  padding: 0.35em 0.5em;
}

#dota-server-container.running #stop-server-container,
#dota-server-container #start-server-container {
  display: block;
}

#dota-server-container #stop-server-container,
#dota-server-container.running #start-server-container {
  display: none;
}

#steam-configuration #steam-folder-error,
#steam-configuration #steam-path-set {
  display: none;
}

#steam-configuration.path-set #steam-path-set {
  display: block;
}

#steam-configuration.path-set #steam-path-not-set {
  display: none;
}

#steam-configuration.has-error #steam-folder-error {
  display: block;
}

#twitch-connection-container.info-set #twitch-info-set {
  display: block;
}

#twitch-connection-container.info-set #twitch-info-not-set,
#twitch-connection-container #twitch-info-set {
  display: none;
}

#twitch-connection-container #twitch-connection-error {
  display: none;
}

#twitch-connection-container.connection-error #twitch-connection-error {
  display: block;
}

#twitch-connection-error {
  color: darkred;
}